<!DOCTYPE HTML>
<html>  
<head>
<style type="text/css">
div{
    background-color: black;
    border: black;
    color: white;
    margin: 10px 0 10px 0;
    padding: 10px;
} 
input {
    background-color: white
    color: white;
    margin: 5px 0 5px 3px;
    padding: 3px;
}
</style>
<script>
function validateForm() {
    var x = document.forms["myForm"]["Fir No."].value;
    if (x == "") {
        alert("Name must be filled out");
        return false;
    }
}
</script>
</head>
<body>
<h2>ACCIDENT REPORT FORM</h2>
<form name="myForm" onsubmit="return validateForm()"  action=" " method="Post">
<div>
<label for="firno">FIR No.</label>
<input id="firno" type="text" name="Fir No."><br>
</div>
<div>
<label for="police">Police Station </label> 
    <select id="police" name="Police Station">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>

<label for="circle">Circle </label> 
<select id="circle" name="Circle">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>

<label for="dist">District </label> 
 <select id="dist" name="District">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>   

<label for="range">Range </label> 
 <select id="range" name="Range">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>
</div>
<div>
<label for="date">Date </label> 
 <input id="date" type="date" name="Date">

<label for="time">Time </label> 
<input id="time" type="time" name="Time">
</div>
<div>
    <label for="poo">Place of occurance  </label> 
    <input id="poo" type="text" name="Place of occurance">

<label for="inter">Intersection  </label> 
<select id= "inter" name="Intersection">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>

    <label for="road">Road Name </label> 
    <select id="road" name="Road Name">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>

    <label for="lat">Latitude </label> 
    <input id="lat" type="text" name="latitude">

    <label for="long">Longitude </label> 

 <input id="long" type="text" name="longitude">
</div>
<div>
    <label for="sect">Section </label> 
    <select id= "sect" name="Section">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>
</div>
<div>
<label for="acctype">AccidentType</label> 
    <select id="acctype" name="AccidentType">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>
</div>
<div>
<h3>Vehicle at fault</h3> 
    <label for="typef">Type</label> 
    <select id="typef" name="Type">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>

    <label for="regnof">Registration-No.</label> 
    <input id="regnof" type="text" name="Registeration-No">

    <label for="routeno">Route No.</label> 
    <input id="routeno" type="text" name="">
</div>
<div>
<h3>Victim Details</h3> 

    <label for="typev">Type </label> 
    <select id="typev" name="Type">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>

    <label for="regnov">Registration-No. </label> 
    <input id="regnov" type="text" name="Registeration-No">

    <label for="board">Boarding/De-boarding</label> 

    <select id="board" name="Boarding">
    <option value="p1">Yes</option>
    <option value="p2">No</option>
    </select>
</div>
</div>
<div>
<h3>Accident Driver Details</h3>
    <label for="drivname">Driver Name</label> 
    <input id="drivname" type="text" name="Driver Name">

    <label for="addr">Address </label> 
    <input id="addr" type="text" name="Address">

    <label for="arrest">Arrested</label> 
    <select id="arrest" name="Arrested">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>

    <label for="age">Age </label> 
    <input id="age" type="integer" name="Age">

    <label for="lisno">License No.</label> 
    <input id="lisno" type="text" name="License No."><br></br>

    <label for="placelisno">Place from where License was issued </label> 
    <input id="placelisno" type="text" name="Place">

    <label for="idate">Issued Date:</label> 
    <input id="idate" type="date" name="Issued Date">

    <label for="udate">Upto Date:</label> 
    <input id="udate" type="date" name="Upto Date">

</div>
<div>
    <label for="remarks">Remarks</label> 
    <input id="remarks" type="textarea" name="Remarks">
</div>
<input type="submit">
</form>
</body>
</html>